@page
@model IndexModel
@{
    ViewData["Title"] = "Træk et kort";
}

<div class="text-center">

    <button type="button" id="draw-btn" class="btn btn-success mt-5 mb-3">Træk kort</button>

    <div class="form-check mb-3">
        <input class="form-check-input float-none" type="checkbox" name="multiple" id="multiple">
        <label class="form-check-label" for="multiple">
            Træk flere kort
        </label>


    </div>
    <p id="result" class="fw-bold"></p>
    <div id="placeholder"></div>
</div>